<div class="col-md-3">
    <div class="card crm-widget">
        <div class="card-body p-0">
            <div class="row row-cols-md-3 row-cols-1">

                <div class="col col-lg border-end">
                    <div class="py-4 px-3">
                        <h5 class="text-muted text-uppercase fs-13">
                            Réclamations saisies <i class="ri-arrow-up-circle-line text-success fs-18 float-end align-middle"></i>
                        </h5>
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <i class="las la-tools display-6 text-primary"></i>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h2 class="mb-0 text-primary">
                                    <span class="counter-value" data-target="{{ claim_count }}"></span>
                                </h2>
                            </div>
                        </div>
                        <p class="mb-0 text-muted">
                            <span class="badge bg-light text-success mb-0">
                                <i class="ri-arrow-up-line align-middle"></i> 16.24 %
                            </span> vs. previous month
                        </p>
                    </div>
                </div><!-- end col -->

            </div>
        </div>
    </div>
</div>