<form class="searchbar">
    <div class="position-absolute top-50 translate-middle-y search-icon ms-3">
        <ion-icon name="search-sharp"></ion-icon>
    </div>
    <input class="form-control" type="text" placeholder="Search for anything">
    <div class="position-absolute top-50 translate-middle-y search-close-icon">
        <ion-icon name="close-sharp"></ion-icon>
    </div>
</form>