<!--start back-to-top-->
<button onclick="document.body.scrollTop=0; document.documentElement.scrollTop=0;" class="btn btn-danger btn-icon" id="back-to-top">
    <i class="ri-arrow-up-line"></i>
</button>
<!--end back-to-top-->